@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@import "../../../../scss/variables";

.form-group {
  label {
    color: $inactive;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
  }
  select {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: $inactive;
    option {
      color: black;
    }
  }

  ::-moz-placeholder {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: $inactive;
  }

  .form-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    .form-grid-1 {
      grid-column: span 2 / span 2;
    }
    .form-grid-2 {
      display: flex;
      flex-direction: column;
    }
  }
}

.image-preview-container {
  //   padding: 3rem 2rem 3rem;
  border-radius: 8px;
  border: solid 1px $default-border;
  .preview-img {
    width: 100%;
  }
}

.invalid-input {
  border: 1px solid $salmon-pink;
}

.error-text {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: $rose;
}

.default-img-container {
  padding: 3rem 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .rounded-container {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $lightbackdrop;
  }
}

.submit-btn {
  margin: 1rem 0 0 0;
  max-width: 216px;
  width: 90%;
  padding: 1rem;
  border-radius: 8px;
  background-color: $azure;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

  :focus {
    outline: none;
  }
}

.btn-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

button:disabled,
button[disabled] {
  background-color: $sky;
}

@include media-breakpoint-down(sm) {
  .form-group {
    .form-grid {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}
