<div class="container">
  <app-back-to-home></app-back-to-home>
  <h2>How can we better our world?</h2>
  <form [formGroup]="addIdeaForm" (ngSubmit)="onSubmit()" class="add-form">
    <div>
      <div class="form-group">
        <div *ngIf="serverError !== null" class="alert alert-danger">
          <div>Something went wrong, please try again!</div>
        </div>

        <div class="form-grid">
          <div class="form-grid-1">
            <label for="title">Title of idea *</label>
            <input
              formControlName="title"
              name="title"
              type="text"
              class="form-control"
              id="title"
              aria-describedby="title Help"
              [ngClass]="{
                'invalid-input': title.invalid && (title.dirty || title.touched)
              }"
            />
            <div *ngIf="title.invalid && (title.dirty || title.touched)">
              <div *ngIf="title.errors.required" class="error-text">
                Title is required.
              </div>
            </div>
            <div class="form-group">
              <label for="name">Your Name</label>
              <input
                formControlName="name"
                type="text"
                class="form-control"
                id="name"
                aria-describedby="name Help "
                [ngClass]="{
                  'invalid-input': name.invalid && (name.dirty || name.touched)
                }"
              />
              <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <div *ngIf="name.errors.required" class="error-text">
                  Name is required.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="sustainable">Sustainable Development Goal</label>
              <select
                class="form-control"
                id="sustainable"
                formControlName="sustainable"
                [ngClass]="{
                  'invalid-input':
                    sustainable.invalid &&
                    (sustainable.dirty || sustainable.touched)
                }"
              >
                <option disabled value="">Select one</option>
                <option *ngFor="let goal of goals" [value]="goal.key">
                  {{ goal.label }}
                </option>
              </select>
              <div
                *ngIf="
                  sustainable.invalid &&
                  (sustainable.dirty || sustainable.touched)
                "
              >
                <div *ngIf="sustainable.errors.required" class="error-text">
                  Goal is required
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="ideaDescription">What is your idea? *</label>
              <textarea
                rows="6"
                class="form-control"
                id="ideaDescription"
                aria-describedby="ideaDescription Help "
                formControlName="ideaDescription"
                [ngClass]="{
                  'invalid-input':
                    ideaDescription.invalid &&
                    (ideaDescription.dirty || ideaDescription.touched)
                }"
              ></textarea>
              <div
                *ngIf="
                  ideaDescription.invalid &&
                  (ideaDescription.dirty || ideaDescription.touched)
                "
              >
                <div *ngIf="ideaDescription.errors.required" class="error-text">
                  Description is required
                </div>
                <div
                  *ngIf="ideaDescription.errors.maxlength"
                  class="error-text"
                >
                  Description cannont be longer than 1000 characters
                </div>
              </div>
            </div>
          </div>
          <div class="form-grid-2">
            <div>
              <div class="form-group">
                <label for="image">Add image to support your idea</label>
                <input
                  type="url"
                  class="form-control"
                  id="image"
                  aria-describedby="Image Help"
                  placeholder="Enter image URL"
                  formControlName="image"
                  [ngClass]="{
                    'invalid-input':
                      image.invalid && (image.dirty || image.touched)
                  }"
                />
                <div *ngIf="image.invalid && (image.dirty || image.touched)">
                  <div *ngIf="image.errors.required" class="error-text">
                    Image is required
                  </div>
                  <div *ngIf="image.errors.pattern" class="error-text">
                    Image url is invalid
                  </div>
                </div>
              </div>

              <div class="image-preview-container">
                <div *ngIf="image.value !== ''; else defaultImg">
                  <img
                    class="preview-img"
                    src="{{ image.value }}"
                    alt="Image Preview"
                  />
                </div>
              </div>
            </div>
            <div class="btn-container">
              <button
                [disabled]="addIdeaForm.invalid || saving"
                type="submit"
                class="submit-btn"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #defaultImg>
  <div class="default-img-container">
    <div class="rounded-container">
      <img src="../../../../assets/images/img-icon.svg" alt="Image Preview" />
    </div>
    <div>Image preview</div>
  </div>
</ng-template>
