<div class="footer-container">
  <div class="footer-description">
    <div class="footer-logo">
      <img src="../../../assets/images/dp-logo-white.svg" alt="White Logo" />
    </div>
    <p class="footer-text">
      We acknowledge the Traditional Owners of country throughout Australia and
      pay our respects to their Elders past, present and emerging.
    </p>
  </div>
  <div class="footer-bottom">
    <div class="footer-links">
      <a href="http://">LinkedIn</a>
      <a href="http://">Facebook</a>
      <a href="http://">Twitter</a>
    </div>
    <div class="copyright-text">Copyright © 2021 Digital Purpose</div>
  </div>
</div>
