@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@import "../../../scss/variables";

.footer-container {
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: $dark-blue-grey;
  padding: 40px 29px;
  box-shadow: 0 -1px 0 0 #eaebef;
  color: white;
  .footer-description {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    .footer-logo {
      margin: 1rem 0px;
    }
    .footer-text {
      width: 50%;
      margin: 1rem 0px;
    }
  }
  .footer-bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 2rem 0px 0px 0px;
    .footer-links {
      font-weight: bold;
      display: flex;
      flex-direction: row;
      margin: 0px 1rem;
      a {
        color: white;
        text-decoration: none;
        margin-left: 2rem;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .footer-container {
    flex-direction: column;
    .footer-description {
      display: flex;
      flex-direction: column;
      .footer-logo {
        margin: 1rem 0px;
      }
      .footer-text {
        width: 100%;
        margin: 1rem 0px;
      }
    }
    .footer-bottom {
      flex-direction: column;
      .footer-links {
        font-weight: bold;
        display: flex;
        flex-direction: column;
        margin: 1rem 0px;
        a {
          color: white;
          text-decoration: none;
          margin-top: 0.5rem;
          margin-left: 0px;
        }
      }
      .copyright-text {
        margin: 2rem 0px 0px 0px;
      }
    }
  }
}
