@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
@import "../../../scss/variables";

.h-screen {
  height: calc(100vh - 344px);
  display: flex;
}

.thankyou-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    text-align: center;
    width: 50%;
  }
}

.back-to-home-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 1rem 0 0 0;
  max-width: 216px;
  width: 90%;
  padding: 1rem;
  border-radius: 8px;
  background-color: $azure;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  outline: none;

  :focus {
    outline: none;
  }
}

@include media-breakpoint-down(sm) {
  .thankyou-container {
    p {
      width: 100%;
    }
  }
}
