<div class="container h-screen">
  <div class="thankyou-container">
    <h2>Thank you for sharing your idea with us!</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ultrices neque ornare
      aenean euismod elementum.
    </p>
    <button type="button" class="back-to-home-btn" routerLink="/">
      Back to home
    </button>
  </div>
</div>
