@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@import "../../../scss/variables";

.ideas-section {
  padding: 2rem 0;

  .search-form {
    display: flex;
    justify-content: space-between;
    .search-field {
      border: none;
      &::placeholder {
        color: $placeholder-text;
      }
    }
  }

  .input-group-text {
    border: none;
    background-color: white;
    color: $placeholder-text;
  }

  .ideas-list {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    column-gap: 32px;
    row-gap: 32px;

    .idea {
      cursor: pointer;

      .thumbnail {
        width: 250px;
        height: 180px;
        border: 1px solid $border-color;
        border-radius: 6px;
        margin-bottom: 1rem;
        :hover {
          transform: scale(1.05, 1.05);
        }

        img {
          border-radius: 6px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .idea-actions {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        .like-button {
          cursor: pointer;
          //   background-color: $aqua;
          background: none;
          border: none;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: 1fr;
      .idea {
        .thumbnail {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.loading {
  text-align: center;
  font-size: 32px;
  margin: 2rem;
  color: lightgrey;
}
