@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@import "../../../../scss/variables";

.idea-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.1fr 0.1fr 1fr 1fr;
  gap: 1rem;
  grid-template-areas:
    "back-to-home back-to-home"
    "idea-image  idea-author-details"
    "idea-image idea-submission-card"
    "idea-description idea-submission-card";

  #back-to-home {
    grid-area: back-to-home;
  }

  .idea-image {
    grid-area: idea-image;
    img {
      width: 100%;
    }
  }
  .idea-description {
    grid-area: idea-description;
    #idea-goal {
      font-family: Lato;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: normal;
    }
  }

  .idea-author-container {
    grid-area: idea-author-details;
    h4 {
      margin-bottom: 8px;
    }
    .idea-author-details {
      margin: 0 0 2rem 0;
      width: 100%;
    }
    #cta-button {
      width: 100%;
    }
    #small-text {
      font-family: Lato;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: normal;
      color: $dark-blue-grey;
    }
  }
  .idea-submission-card {
    // max-height: 350px;
    text-align: left;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 2rem;
    border-radius: 8px;
    background-color: $butterscotch;
    overflow: hidden;
    justify-content: space-around;
    #cta-button {
      width: 100%;
      text-align: center;
      z-index: 1;
    }
    #background-pattern {
      width: 80%;
      position: absolute;
      bottom: -120px;
      right: -80px;
    }
  }
}

@include media-breakpoint-down(md) {
  .idea-container {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.5fr 1fr 1fr;
    grid-template-areas:
      "back-to-home back-to-home"
      "idea-image idea-author-details"
      "idea-image  idea-submission-card"
      "idea-description idea-submission-card"
      "idea-description idea-submission-card";
  }
  .idea-submission-card {
    align-self: flex-start;
  }
}

@include media-breakpoint-down(sm) {
  .idea-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
    grid-template-areas:
      "idea-image"
      "back-to-home"
      "idea-author-details"
      "idea-description"
      "idea-submission-card";
  }
}
