<div class="container">
  <div class="idea-container">
    <app-back-to-home id="back-to-home"></app-back-to-home>
    <ng-container *ngIf="!loading; else isLoading">
      <ng-container *ngIf="!loadingError; else isLoadingError">
        <div class="idea-image">
          <img src="{{ idea.thumbnailUrl }}" alt="Thumbnail Url" />
        </div>
        <div class="idea-description">
          <h2>{{ caseWord(idea.title) }}</h2>
          <p id="idea-goal">{{ caseWord(idea.goal) }}</p>
          <p>{{ idea.description }}</p>
        </div>
        <div class="idea-author-container">
          <div class="idea-author-details">
            <h4>Name of the publisher here</h4>
            <span id="#small-text">Published December 12th 2020</span>
          </div>
        </div>
        <div class="idea-submission-card">
          <img
            src="../../../../assets/images/cta-card-pattern.svg"
            alt="Cta-card-pattern"
            id="background-pattern"
          />
          <h3>Do you have an idea that could better our world?</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt.
          </p>
          <div id="cta-button">
            <app-cta-button></app-cta-button>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #isLoading>
  <div class="loading">
    <fa-icon [icon]="spinnerIcon" [spin]="true"></fa-icon>
  </div>
</ng-template>

<ng-template #isLoadingError>
  <div class="text-danger">
    Sorry, something went wrong loading these results
  </div>
</ng-template>
