@import "../../../../scss/variables";

#small-links {
  cursor: pointer;
  color: $azure;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  margin: 0 0 1rem 0;
}
