<div class="banner-section">
  <div class="banner-group">
    <h2>Ideas for a better world</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <app-cta-button id="cta-button"></app-cta-button>
  </div>
  <div class="banner-image">
    <img src="../../../assets/images/banner-image.png" alt="Banner-Image" />
  </div>
  <img
    class="banner-image-mobile"
    src="../../../assets/images/small-screen-banner-pattern.svg"
    alt="Banner-Image-Small"
  />
</div>
