@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@import "../../../scss/variables";

.banner-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #e7f5fd;
  color: $dark-blue-grey;
  border-radius: 8px;
  margin-bottom: 40px;
  max-height: 264px;

  .banner-group {
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    #cta-button {
      z-index: 1;
    }
  }
  .banner-image {
    height: 100%;
    img {
      max-height: 264px;
      height: 100%;
    }
  }
  .banner-image-mobile {
    display: none;
  }
}

@include media-breakpoint-down(sm) {
  .banner-section {
    max-height: unset;
    position: relative;
    .banner-image-mobile {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  .banner-group {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    button {
      z-index: 1;
    }
  }
  .banner-image {
    display: none;
  }
}
