@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@import "../../../../scss/variables";

button {
  max-width: 216px;
  width: 90%;
  padding: 1rem;
  border-radius: 8px;
  background-color: $dark-blue-grey;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  :focus {
    outline: none;
  }
}

@include media-breakpoint-down(sm) {
  button {
    width: 100%;
  }
}
